@using Manage.IBLL.Dto
@model RoleInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderPage("~/views/Shared/_EasyuiPartialPage.cshtml")
    <title>IndexExecute</title>
    <link href="~/LocalCSS/Role/IndexExecute.css" rel="stylesheet" />
    <script src="~/LocalScript/Role/IndexExecute.js"></script>
</head>
<body>
    <div class="container">
        <h2>角色管理---@ViewBag.Operation</h2>
        <hr />
        <form name="roleform" id="roleform">
            <input type="hidden" id="Key" name="Key" value="@Model.Key" />
            <input type="hidden" id="ParentName" name="ParentName" value="@Model.ParentName" />
            <div class="easyui-panel" title="@ViewBag.Operation" style="width:450px">
                <div style="padding:10px 60px 20px 60px">

                    <table cellpadding="5" cellspacing="5">
                        <tr>
                            <td>角色名称:</td>
                            <td><input id="Name" class="easyui-textbox" type="text" name="name" data-options="required:true" value="@Model.Name" /></td>
                        </tr>
                        <tr>
                            <td>描述:</td>
                            <td><input id="Description" class="easyui-textbox" type="text" name="email" value="@Model.Description" /></td>
                        </tr>
                        <tr>
                            <td>是否顶级角色:</td>
                            <td>
                                <input type="checkbox" class="checkbox" name="isTop" id="isTop" checked="@Model.IsTop"/>
                            </td>
                        </tr>
                        <tr>
                            <td>父级角色:</td>
                            <td>
                                <input id="ParentRole" class="easyui-combobox" value="@Model.ParentKey"
                                       name="language"
                                       data-options="valueField:'Key',textField:'Name',panelHeight:'auto'">
                            </td>
                        </tr>

                    </table>

                    <div style="text-align:center;padding:5px">
                        <a id="submit" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">@ViewBag.Operation</a>
                        <a id="cancel" href="IndexQuery" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
                    </div>
                </div>
            </div>
        </form>
        
</div>
</body>
</html>
