@{
    Layout = null;
}
@model IEnumerable<Manage.Model.tbl_Menu>


@if (Model != null) {
    foreach (var item in Model) { 
        <div class="childmenu">
            @*@Url.Action(@item.C_Action, @item.C_Controller, new RouteValueDictionary() { }, "http", "localhost")*@

            @*因为用超连接标签来跳转页面每次都会刷，所以用下面那种，在js中处理*@
            @*<a title="@item.C_Description" href="@Url.Action(@item.C_Action, @item.C_Controller)"><p>@item.C_Name</p></a>*@

            @*在js里将 data-href的值 取出，放入iframe 的src 属性，自动加载*@
            <a title="@item.C_Description" href="###" data-href="@Url.Action(@item.C_Action, @item.C_Controller)"><p>@item.C_Name</p></a>
            @*<p>@Html.ActionLink(item.C_Name, item.C_Action + string.Empty, item.C_Controller + string.Empty, new { @class = "easyui-linkbutton", plain = "true",display="block"})</p>*@
        </div> 
    }
}